@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-font{
  font-family: "Open Sans", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

.btn{
    font-size:20px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding:18px 35px;
    border-style: none;
}
/* uporer gulo shearaing tag */

header{
    background-color: #FFF8F3;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 230px;
    padding-top: 50px;
    padding-left: 226px;
}

header nav h2{
font-size: 45px;
font-weight: 800;
}

header nav h2 span{
    color: #FD6E0A;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 51px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
